@font-face {
  font-family: 'Archivo Black';
  font-style: normal;
  font-weight: 400;
  src: local('Archivo Black Regular'), local('ArchivoBlack-Regular'), url(https://fonts.gstatic.com/s/archivoblack/v9/HTxqL289NzCGg4MzN6KJ7eW6CYyF-w.ttf) format('truetype');
}
html,
body {
  height: 100%;
}
body {
  background: black;
  font-family: 'Archivo Black', sans-serif;
}
.glitch-wrapper {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
.glitch {
  color: white;
  font-size: 150px;
  text-transform: upercase;
  position: relative;
  display: inline-block;
}
.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}
.glitch::before {
  left: 2px;
  text-shadow: -2px 0 #49FC00;
  clip: rect(24px, 550px, 90px, 0);
  animation: glitch-anim-2 3s infinite linear alternate-reverse;
}
.glitch::after {
  left: -2px;
  text-shadow: -2px 0 #b300fc;
  clip: rect(85px, 550px, 140px, 0);
  animation: glitch-anim 2.5s infinite linear alternate-reverse;
}
@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(65px, 9999px, 80px, 0);
  }
  4.166666666666666% {
    clip: rect(41px, 9999px, 31px, 0);
  }
  8.333333333333332% {
    clip: rect(93px, 9999px, 35px, 0);
  }
  12.5% {
    clip: rect(85px, 9999px, 45px, 0);
  }
  16.666666666666664% {
    clip: rect(53px, 9999px, 66px, 0);
  }
  20.833333333333336% {
    clip: rect(37px, 9999px, 89px, 0);
  }
  25% {
    clip: rect(116px, 9999px, 139px, 0);
  }
  29.166666666666668% {
    clip: rect(49px, 9999px, 68px, 0);
  }
  33.33333333333333% {
    clip: rect(127px, 9999px, 14px, 0);
  }
  37.5% {
    clip: rect(25px, 9999px, 149px, 0);
  }
  41.66666666666667% {
    clip: rect(17px, 9999px, 80px, 0);
  }
  45.83333333333333% {
    clip: rect(113px, 9999px, 110px, 0);
  }
  50% {
    clip: rect(104px, 9999px, 103px, 0);
  }
  54.166666666666664% {
    clip: rect(118px, 9999px, 32px, 0);
  }
  58.333333333333336% {
    clip: rect(132px, 9999px, 20px, 0);
  }
  62.5% {
    clip: rect(25px, 9999px, 18px, 0);
  }
  66.66666666666666% {
    clip: rect(81px, 9999px, 13px, 0);
  }
  70.83333333333334% {
    clip: rect(59px, 9999px, 60px, 0);
  }
  75% {
    clip: rect(148px, 9999px, 141px, 0);
  }
  79.16666666666666% {
    clip: rect(15px, 9999px, 141px, 0);
  }
  83.33333333333334% {
    clip: rect(130px, 9999px, 1px, 0);
  }
  87.5% {
    clip: rect(26px, 9999px, 140px, 0);
  }
  91.66666666666666% {
    clip: rect(74px, 9999px, 145px, 0);
  }
  95.83333333333334% {
    clip: rect(10px, 9999px, 38px, 0);
  }
  100% {
    clip: rect(88px, 9999px, 42px, 0);
  }
}
@keyframes glitch-anim {
  0% {
    clip: rect(65px, 9999px, 80px, 0);
  }
  4.166666666666666% {
    clip: rect(41px, 9999px, 31px, 0);
  }
  8.333333333333332% {
    clip: rect(93px, 9999px, 35px, 0);
  }
  12.5% {
    clip: rect(85px, 9999px, 45px, 0);
  }
  16.666666666666664% {
    clip: rect(53px, 9999px, 66px, 0);
  }
  20.833333333333336% {
    clip: rect(37px, 9999px, 89px, 0);
  }
  25% {
    clip: rect(116px, 9999px, 139px, 0);
  }
  29.166666666666668% {
    clip: rect(49px, 9999px, 68px, 0);
  }
  33.33333333333333% {
    clip: rect(127px, 9999px, 14px, 0);
  }
  37.5% {
    clip: rect(25px, 9999px, 149px, 0);
  }
  41.66666666666667% {
    clip: rect(17px, 9999px, 80px, 0);
  }
  45.83333333333333% {
    clip: rect(113px, 9999px, 110px, 0);
  }
  50% {
    clip: rect(104px, 9999px, 103px, 0);
  }
  54.166666666666664% {
    clip: rect(118px, 9999px, 32px, 0);
  }
  58.333333333333336% {
    clip: rect(132px, 9999px, 20px, 0);
  }
  62.5% {
    clip: rect(25px, 9999px, 18px, 0);
  }
  66.66666666666666% {
    clip: rect(81px, 9999px, 13px, 0);
  }
  70.83333333333334% {
    clip: rect(59px, 9999px, 60px, 0);
  }
  75% {
    clip: rect(148px, 9999px, 141px, 0);
  }
  79.16666666666666% {
    clip: rect(15px, 9999px, 141px, 0);
  }
  83.33333333333334% {
    clip: rect(130px, 9999px, 1px, 0);
  }
  87.5% {
    clip: rect(26px, 9999px, 140px, 0);
  }
  91.66666666666666% {
    clip: rect(74px, 9999px, 145px, 0);
  }
  95.83333333333334% {
    clip: rect(10px, 9999px, 38px, 0);
  }
  100% {
    clip: rect(88px, 9999px, 42px, 0);
  }
}
@-webkit-keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(53px, 9999px, 45px, 0);
  }
  10% {
    clip: rect(24px, 9999px, 56px, 0);
  }
  13.333333333333334% {
    clip: rect(42px, 9999px, 54px, 0);
  }
  16.666666666666664% {
    clip: rect(111px, 9999px, 6px, 0);
  }
  20% {
    clip: rect(132px, 9999px, 84px, 0);
  }
  23.333333333333332% {
    clip: rect(28px, 9999px, 136px, 0);
  }
  26.666666666666668% {
    clip: rect(32px, 9999px, 60px, 0);
  }
  30% {
    clip: rect(117px, 9999px, 143px, 0);
  }
  33.33333333333333% {
    clip: rect(34px, 9999px, 6px, 0);
  }
  36.666666666666664% {
    clip: rect(16px, 9999px, 7px, 0);
  }
  40% {
    clip: rect(44px, 9999px, 124px, 0);
  }
  43.333333333333336% {
    clip: rect(121px, 9999px, 99px, 0);
  }
  46.666666666666664% {
    clip: rect(115px, 9999px, 84px, 0);
  }
  50% {
    clip: rect(14px, 9999px, 69px, 0);
  }
  53.333333333333336% {
    clip: rect(20px, 9999px, 125px, 0);
  }
  56.666666666666664% {
    clip: rect(111px, 9999px, 131px, 0);
  }
  60% {
    clip: rect(85px, 9999px, 146px, 0);
  }
  63.33333333333333% {
    clip: rect(113px, 9999px, 85px, 0);
  }
  66.66666666666666% {
    clip: rect(32px, 9999px, 3px, 0);
  }
  70% {
    clip: rect(94px, 9999px, 20px, 0);
  }
  73.33333333333333% {
    clip: rect(23px, 9999px, 134px, 0);
  }
  76.66666666666667% {
    clip: rect(62px, 9999px, 43px, 0);
  }
  80% {
    clip: rect(45px, 9999px, 101px, 0);
  }
  83.33333333333334% {
    clip: rect(136px, 9999px, 140px, 0);
  }
  86.66666666666667% {
    clip: rect(89px, 9999px, 0px, 0);
  }
  90% {
    clip: rect(19px, 9999px, 68px, 0);
  }
  93.33333333333333% {
    clip: rect(45px, 9999px, 124px, 0);
  }
  96.66666666666667% {
    clip: rect(71px, 9999px, 132px, 0);
  }
  100% {
    clip: rect(0px, 9999px, 13px, 0);
  }
}
@keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(53px, 9999px, 45px, 0);
  }
  10% {
    clip: rect(24px, 9999px, 56px, 0);
  }
  13.333333333333334% {
    clip: rect(42px, 9999px, 54px, 0);
  }
  16.666666666666664% {
    clip: rect(111px, 9999px, 6px, 0);
  }
  20% {
    clip: rect(132px, 9999px, 84px, 0);
  }
  23.333333333333332% {
    clip: rect(28px, 9999px, 136px, 0);
  }
  26.666666666666668% {
    clip: rect(32px, 9999px, 60px, 0);
  }
  30% {
    clip: rect(117px, 9999px, 143px, 0);
  }
  33.33333333333333% {
    clip: rect(34px, 9999px, 6px, 0);
  }
  36.666666666666664% {
    clip: rect(16px, 9999px, 7px, 0);
  }
  40% {
    clip: rect(44px, 9999px, 124px, 0);
  }
  43.333333333333336% {
    clip: rect(121px, 9999px, 99px, 0);
  }
  46.666666666666664% {
    clip: rect(115px, 9999px, 84px, 0);
  }
  50% {
    clip: rect(14px, 9999px, 69px, 0);
  }
  53.333333333333336% {
    clip: rect(20px, 9999px, 125px, 0);
  }
  56.666666666666664% {
    clip: rect(111px, 9999px, 131px, 0);
  }
  60% {
    clip: rect(85px, 9999px, 146px, 0);
  }
  63.33333333333333% {
    clip: rect(113px, 9999px, 85px, 0);
  }
  66.66666666666666% {
    clip: rect(32px, 9999px, 3px, 0);
  }
  70% {
    clip: rect(94px, 9999px, 20px, 0);
  }
  73.33333333333333% {
    clip: rect(23px, 9999px, 134px, 0);
  }
  76.66666666666667% {
    clip: rect(62px, 9999px, 43px, 0);
  }
  80% {
    clip: rect(45px, 9999px, 101px, 0);
  }
  83.33333333333334% {
    clip: rect(136px, 9999px, 140px, 0);
  }
  86.66666666666667% {
    clip: rect(89px, 9999px, 0px, 0);
  }
  90% {
    clip: rect(19px, 9999px, 68px, 0);
  }
  93.33333333333333% {
    clip: rect(45px, 9999px, 124px, 0);
  }
  96.66666666666667% {
    clip: rect(71px, 9999px, 132px, 0);
  }
  100% {
    clip: rect(0px, 9999px, 13px, 0);
  }
}
